# Git files
**/.git*

# Docker files
**/.dockerignore
**/docker-compose*
**/compose*
**/Dockerfile*

# Python compile file (.pyc, .pyo)
*.py[oc]

# egg package info folder
*.egg-info

# Backup file
*.bak

# Copied file
* copy*

# Environment variables file
.env

# VSCode configuration folder
**/.vscode

# VSCode refer to configuration file
!**/.vscode/.*.json

# Python cache folder
**/__pycache__

# Django Default SQLite database file
**/db.sqlite3

# strawberry-graphql-django: export_schema out file
**/schema.graphql

# pytest cache folder
**/.pytest_cache

# Python virtual environment folder
**/.venv
